@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;

}


body{
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 7px;
 height: 4px;
}

::-webkit-scrollbar-track {
  background:black;
}


::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  border-radius: 4px;
}


.backdrop{
  height: 800px;
}




.current{
  top: 0;
  transition: all .7s ease;
  z-index: 1;
  height: 100%;
}

.prev{
  top:-100%;
  z-index: -1;
  transition: all .7s ease;
}

.next{
  top: 100%;
  transition: all .7s ease;
  z-index: -1;
}



.bg-img{
  height: 1000px;
  width: 1800px;

}


.bg-current{
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s ease;
  z-index: 1;
  display: block;
}

.bg-prev{
  left:-100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 1s ease;
  display: block;
}

.bg-next{
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s ease;
  z-index: 1;
  display: block;
}


@media (max-width:900px) {
  .bg-img{
    height: 800px;
    width: 1700px;
  }

  .backdrop{
   width: 1000px;
  }
  
  
}


@media (max-width:800px) {
  .bg-img{
    height: 800px;
    width: 1200px;
  }
  
}


@media (max-width:650px) {
  .bg-img{
    height: 800px;
  }
  
}

